:root {
    --color-1: rgb(233, 163, 42);
    --color-2: white;
    --color-3: rgb(205, 211, 228);
    --color-4: rgb(236, 236, 236);
    --color-5: rgb(158, 9, 9);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 120px;
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
}
p {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 50px;
}
h4 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0;
}
h5 {
    font-weight: 500;
    font-size: 20px;
    margin-left: 50px;
}
h6 {
    font-size: 17px;
    font-weight: 400;
}


/* header */

header {
    background-color: var(--color-1);
    width: 100%;
    height: 100px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.header {
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* footer */

footer {
    background-color: var(--color-1);
    width: 100%;
    height: 100px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-size: 15px;
} 


/* index page */

/* index section one */

#index-section-one {
    background-image: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 5px;
    
}
#index-section-one-words {
    background-color: var(--color-2);
    width:fit-content;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 900;
    padding: 10px 15px;
    margin: 50px;
}

/* index section two */

#index-section-two {
    margin: 60px 120px;
}

#images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#index-section-two-imgs {
    object-fit: cover;
    height: 250px;
    width: 350px;
}
.middle-img {
    margin: 0 40px;
}

/* index section three */

#index-section-three {
    height: fit-content;
    background-color: var(--color-3);
    padding: 20px 0;
}
#index-section-three-content {
    margin: 60px 120px;
}
#recipe {
    background-color: var(--color-2);
}
#index-section-three-imgs {
    object-fit: cover;
    height: 200px;
    width: 250px;
}
.middle-img1 {
    margin-right: 40px;
}

/* index section four */

#index-section-four {
    margin: 60px 120px;
}
#index-section-four-imgs {
    object-fit: cover;
    height: 250px;
    width: 350px;
}
#index-section-four-img {
    padding: 5px;
    background-color: var(--color-3);
}

/* recipe page */

/* recipe section one */

#recipe-section-one {
    background-image: url("../images/burg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 5px;
}

#recipe-section-one-words {
    background-color: var(--color-2);
    width:fit-content;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 900;
    padding: 10px 15px;
    margin: 50px;
}

/* recipe section two */

#recipe-section-two {
    background-color: var(--color-3);
    padding: 20px 120px;
}

.section-two-line {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.instruction {
    width: 200px;
}

.time {
    margin-bottom: 0;
}

.time-bold {
    font-size: 20px;
    font-weight: 700;
}

.time-thin {
    font-size: 20px;
}

/* recipe section three */

.red {
    color: var(--color-5);
}
#rating {
    text-align: center;
    margin: 20px 0;
}
.save-print {
    display: flex;
    justify-content: center;
}

#print {
    background-image: url(../images/print.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
}
#save {
    color: white;
    background-color: var(--color-5);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 0 30px;
    margin-right: 20px;
}

/* recipe section four */

#recipe-section-four {
    margin: 60px 120px 0;
    padding: 60px 120px;
    background-color: var(--color-4);
}
.recipe-section-four-p {
    font-weight: 700;
    font-size: 25px;
    color: rgb(92, 92, 92);
    margin: 0;
    text-align: center;
}

/* section five */

#recipe-section-five {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 120px;
}
#ingredients {
    width: 600px;
}
#directions {
    width: 600px;
}
#ingredients-list {
    font-size: 20px;
    font-weight: 300;
}
#ingredients-list-item {
    margin-bottom: 5px;  
}
#spice {
    margin-top: 40px;
}
#directions-list {
    font-size: 20px;
    font-weight: 300;
}
#directions-list-item {
    margin-bottom: 20px;
}
#timing {
    font-size: 20px;
}




